version: '3.3'
services:
  
  file_sever:
    build: file_server
    deploy:
      mode: replicated
      replicas: 1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./data/files:/files
      - ./ssl:/ssl
    restart: always
    network_mode: host
    environment:
      - TZ=Europe/Moscow
      - PORT=8443
    logging:
      options:
        max-size: "10m"
        max-file: "3"