openapi: 3.0.1
info:
  title: Web parser
  description: Get text and links from a web page
  version: 'v1'
servers:
  - url: langtea.club
paths:
  /request:
    get:
      operationId: getRequest
      summary: Get text and links from a web page
      parameters:
      - in: url
        name: url
        schema:
            type: string
        description: Used to specify the url of the page to parse.
      responses:
        "200":
          description: OK